header {
    font-family: Consolas, monaco, monospace;
    margin-bottom: 20px;
    font-size: 24px;
}

section#flash {
    color: dimgrey;
    background: aliceblue;
    border-left: solid 6px greenyellow;
    padding: 10px;
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: Consolas, monaco, monospace;
    margin: 20px 0px 20px 0;
}

article {
    margin: auto;
    max-width: 50em;
}

form#anmelden {
    margin-top: 0px;
}

form#loeschen {
    margin-top: 40px;
}
form label {
    color:dimgrey;
}