{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>REQUEST</th>
            <th>URL</th>
            <th>BESCHREIBUNG</th>
            <th>PARAMETER</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>GET</td>
                <td>/api/schueler</td>
                <td>Zeigt alle Schüler an</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/api/klassen</td>
                <td>Zeigt alle Klassen an</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/api/ausbilder</td>
                <td>Zeigt alle Ausbilder an</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/api/firmen</td>
                <td>Zeigt alle Firmen an</td>
            </tr>
        </tbody>
    </table>
{% endblock %}