{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Firma</th>
                <th>Ausbilder</th>
                <th>Klasse</th>
            </tr>
        </thead>
        <tbody>
            {% for schueler in data %}
            <tr>
                <td>{{ schueler.id }}</td>
                <td>{{ schueler.vorname }}</td>
                <td>{{ schueler.nachname }}</td>
                <td>{{ schueler.firma }}</td>
                <td>{{ schueler.ausbilder }}</td>
                <td>{{ schueler.klasse }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
